<%- include('partials/header', { title: 'About' }) %>

<section class="hero">
    <h2>Sobre o Fixly</h2>
    <p>
        O Fixly é uma plataforma baseada no método de estudo de flashcards, desenvolvido com o intuito de tornar a
        aprendizagem mais rápida e prática. O site permite que o usuário crie flashcards para revisar conteúdos de
        forma dinâmica pra facilitar a memorização, podendo também organizar por área, auxiliando na organização. É
        ideal pra revisões rápidas e estudos mais interativos.
    </p>
</section>

<%- include('partials/footer') %>