<%- include('partials/header', { title: 'Signup' }) %>

<section class="hero">
  <h2>Formulário para inscrição</h2>
</section>

<form id="form">
  <input type="text" id="nome" placeholder="Nome" />
  <input type="text" id="username" placeholder="Username" />
  <input type="email" id="email" placeholder="Email" />
  <input type="password" id="senha" placeholder="Senha" />

  <button type="submit">Enviar</button>
</form>

<script>
document.getElementById("form").addEventListener("submit", async (e) => {
  e.preventDefault();

  const nome = document.getElementById("nome").value;
  const username = document.getElementById("username").value;
  const email = document.getElementById("email").value;
  const senha = document.getElementById("senha").value;

  try {
    const resposta = await fetch("http://localhost:3000/users", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        nome,
        username,
        email,
        senha
      })
    });

    const dados = await resposta.json();

    if (resposta.ok) {
      alert(dados.message);
      document.getElementById("form").reset();
    } else {
      alert(dados.message);
    }

  } catch (error) {
    console.error(error);
    alert("Erro de conexão com o servidor!");
  }
});
</script>

<%- include('partials/footer') %>